button {
    background-color: gray;
    color: yellow;
    border-radius: 10%;
    border: none;
    padding: 4px 10px;
}

button:hover {
    background-color: rgb(172, 172, 172);
}

.style-input {
    border-radius: 6%;
}